* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #FAFAFA;
}

header {
    background-color: #E46307;
    height: 100px;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .title-header {
            display: flex;
            align-items: center;
            color: white;
            gap: 10px;

            .title-jynx {
                font-size: 22px;
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 16px;

            button {
                background-color: white;
                color: #E46307;
                width: 100px;
                height: 30px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                background-color: #353535;
                border: solid 1px white;
                transition: 0.2s;
            }

            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                color: rgb(204, 204, 204);
            }
        }

    }

}

main {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 80%;

        .status {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .msg-hours {
                display: flex;
                justify-content: space-between;

                .flex-hours {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .content-unidades-turmas {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-between;

            .content {
                background-color: white;
                border-radius: 10px;
                width: 48%;
                height: 100%;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                border: solid 1px #CCCCCC;
                padding: 20px 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .flex-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        border: none;
                        background-color: #E46307;
                        color: white;
                        padding: 7px;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    button:hover {
                        background-color: #da6504;
                    }
                }

                .continer-content {
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    overflow-y: auto;

                    .msg {
                        background-color: #d8d8d8;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                        padding: 5px 15px;

                        .flex-msg {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            p {
                                color: #E46307;
                            }

                            .hora {
                                color: #353535;
                            }

                            .flex-turma{
                                display: flex;
                                gap: 5px;
                                p{
                                    color: #000;
                                }
                            }
                        }

                        svg {
                            cursor: pointer;
                        }


                    }
                }
            }

        }

    }
}